*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.using_display_flex_on_whole{
    display: flex;
    flex-direction: column;

}

html{
    font-size: 62.5%;
}


/* .main_grid_system{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows:auto;
} */

.using_flex_in_nav{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 10rem;
    padding-top: 2.5rem;
    grid-column: 1/-1;
}

.menu_listing ul{
    list-style: none;
    display: flex;
    gap: 3.6rem;
    
}

.menu_listing ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem
}

.section_2_written_content h1{
    font-weight: bold;
}

    .login_btn_1{width: 9rem;
    height: 3.3rem;
    background-color: #ffb74d;;
    border: none;
    color: white;
    font-size: 1.7rem;
    border-radius: 3rem;
    }

    .login_btn_1 span{
        color: black !important;
    }

    /*------- Section -2 ----------*/

    .section_2_div_main{
        display: flex;
        justify-content: space-between;
        grid-column: 1/-1;
        padding-top: 6rem;
        padding-left: 9rem;
        padding-right: 10rem;
        overflow: hidden;
    }


    .section_2_written_content{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        padding-top: 3rem;
    }

    .section_2_written_content h1{
        font-size: 5rem;

        
    }

    .section_2_written_content p{
        font-size: 2rem;
    }

    .section_2_btn{
        width: 12rem;
    height: 3.6rem;
    background-color: #f16837;
    color: white;
    border: none;
    border-radius: 3rem;
    font-size: 15px;
    font-weight: bold;
    }

    /*----------------Section-3-------------------*/

    .section_3_grid_main_box{

        width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(3, 80px);
    justify-content: center;
    text-align: center;

    

    }

    .for_center_the_content{
    
            display: flex;
            flex-direction: column;
            align-items: center;

    }

    .grid_images{
        width: 5rem;
        height: 5rem;
    }

    .section_3_small_div_1{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;      


    }

    .section_3_small_div_2{
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546)  ;     
    }

    .section_3_small_div_3{
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
       }

    .section_3_small_div_4{
        grid-column: 4/5;
        grid-row: 1/2;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
       }

    .section_3_small_div_5{
        grid-column: 5/6;
        grid-row: 1/2;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
    }

    .section_3_small_div_6{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;      
    }

    .section_3_small_div_7{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
        }

    .section_3_small_div_8{
        grid-column: 3/4;
        grid-row: 2/3;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
    }

    .section_3_small_div_9{
        grid-column: 4/5;
        grid-row: 2/3;
        padding: 1rem;
        border:.5px solid rgba(220, 220, 227, 0.546) ;
       }

    .section_3_small_div_10{
        grid-column: 5/6;
        grid-row: 2/3;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
      }

    .section_3_small_div_11{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
     }

    .section_3_small_div_12{
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546)  ;   
    }

    .section_3_small_div_13{
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;  }

    .section_3_small_div_14{
        grid-column: 4/5;
        grid-row: 3/4;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;
    }

    .section_3_small_div_15{
        grid-column: 5/5;
        grid-row: 3/4;
        padding: 1rem;
        border:1px solid rgba(220, 220, 227, 0.546) ;  
     }

     .pref{
        padding-bottom: 5rem;
    

     }

     /*-------------------------- Section_3--------------------------*/
     .written_text_1 p span{
        font-weight: 600;
     }

     .written_text_2 p span{
        font-weight: 600;
     }



     .section_3{
        padding-top: 9rem;
    display: flex;
    justify-content: center;
    gap: 17rem;
    flex-wrap: wrap;
     }

     .image_contains{
        background-image: url(https://www.billdesk.com/web/static/media/upi-half-bg.a64ece09.svg);
        background-repeat: no-repeat;
        width: 270px;
        height: auto;
     }

     .written_text_main_2{
        display: flex;
        flex-direction: column;
        gap: 3rem;
     }

     .section_3_heading_1 h1{
        font-size: 3.8rem;
    font-weight: 500;
     }

     .written_text_1 p{
        font-size: 1.7rem;
     }

     .written_text_2 p{
        font-size: 1.7rem;
     }

     .section_3_img_main{
        display: flex;
        gap: 2.7rem;
     }

    .image_contain_image{
        width: 27.6rem;
    }

    .contain_image_1{
        width: 186px;
        padding-top: 20px;
        height: 131px;
        padding-left: 18px;
    }

    .contain_image_2{
        width: 198px;
    height: 116px;
    padding-left: 1rem;
        
    }

    .using_animation{
        animation: Example 30s linear infinite normal;
        width: 18rem;
    }

    @keyframes Example {
        from{transform: rotate(0deg);}
        to{
            transform: rotate(360deg);
        }
    }


    .Integrated_btn{
        padding-top: 11.5rem;
        display: flex;
    justify-content: center;
    padding-bottom: 7rem;
    }

    .Integrated_btn button{
        width: 22rem;
        height: 3.6rem;
        font-size: 1.8rem;
    border: none;
    background-color: #e6dddd;
    font-weight: bold;
    color: #4f4f94;
    border-radius: 4px;
    }

    /*------------Section - 4 --------------------*/

    .section_4{
         
        display: flex;
        justify-content: center;
        gap: 9rem;
        flex-wrap: wrap-reverse;

    }

    .section_4_written_text{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .paragraph_2{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    .paragraph_3{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3rem;
    }

    .heading_1_payment p{
        font-size: 4rem;
    
    }

    .heading_2_Accept p{
        font-size: 3.2rem;
        color: #4b4b5f;

    }

    .para_section_4{
        text-align: end;
    }

    .para_section_4 p{
        font-size: 2rem;
        line-height: 3.6rem;
    }

    .para_2_section_4{
        text-align: end;
    }

    .para_2_section_4 p{
        font-size: 2rem;
        line-height: 3.6rem;
    }

    .section_4_btn button{
        width: 13rem;
    height: 3.9rem;
    background-color: #ee734e;
    font-size: 1.7rem;
    border: none;
    color: white;
    border-radius: 2rem;
    }

    /*--------------Section-5-------------------*/


    .section_5{

        
        display: flex;
        justify-content: center;
        gap: 29rem;
        padding-top: 5rem;
        flex-wrap: wrap;

    }

   

   .section_5_para_2{
    align-items: start;
   }

   .text_align_start_1 p{
    text-align: start;
   }

   .section_5_paragraph_3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   }


   /*--------------------------- Section-6 --------------------------------*/

    .last_section{
        display: flex;
        justify-content: center;
        gap: 10rem;
        padding-top: 8rem;
        padding-bottom: 2rem;
        flex-wrap: wrap-reverse;
    }



    .spinner_rotation_main_container{
    
        background-color: #233862;
        padding-top: 8rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
        height: 50rem;
        margin-top: 12rem;
        width: 100%;
    }

    .rotation_text_plus_spinner{
    
        color: white;
    }



    .spinner_images{
        position: relative;
    left: 25rem;
    }

    /* animation: Example 30s linear infinite normal; */

    .spinner_image_1 {
        position: absolute;
        top: 251px;
    left: -162px;
        animation: spinner_1 5s linear infinite normal;

    }

    @keyframes spinner_1 {
        from{transform: rotate(0deg);}
        to{
            transform: rotate(360deg);
        }
    }

    .spinner_image_2{
        position: absolute;
    top: 157px;
    right: -15px;
        animation: spinner_2 10s linear infinite reverse;
    }

    @keyframes spinner_2 {
        from{transform: rotate(0deg);}

        to{
            transform: rotate(360deg);
        }
    }

    .spinner_image_3{
        position: absolute;
    top: 118px;
    right: -202px;
    animation: spinner_3 10s linear infinite normal;
    }

    @keyframes spinner_3 {
        from{
            transform: rotate(0deg);
        }

        to{
            transform: rotate(360deg);
        }
    }

    .spinner_image_4{
        position: absolute;
    left: 114px;
    top: -36px;
    animation: spinner_4 10s linear infinite reverse;
    }
 
    @keyframes spinner_4 {
        from{
            transform: rotate(0deg);

        }

        to{
            transform: rotate(360deg);
        }
    }


    .spinner_image_5{
        position: absolute;

    left: 269px;
    top: 85px;
       animation: spinner_5 10s linear infinite normal;
    }

    @keyframes spinner_5{

        from{
            transform: rotate(0deg);

        }
        to{
            transform: rotate(360deg);
        }
    }

    .rotation_text{
        display: flex;
        flex-direction: column;
        padding-top: 15rem;
    padding-left: 1rem;
    gap: 2rem;
    font-family: "poppins", sans-serif;

    }

    .rotation_text_plus_spinner{
        display: flex;
        flex-wrap: wrap-reverse;

    }

    .big_text_spinner h1{
        font-size: 4rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }

    .one_at{
        font-size: 2rem !important;
        font-weight: 600;

    }

    .small_text_spinner p{
        font-size: 1.9rem;
        line-height: 3.1rem;
    }


    .btn_6{
        position: absolute;
        width: 8rem;
    height: 3rem;
    background-image:linear-gradient(45deg, #e98119, #b05010);;
    color: white;
    border: none;
    border-radius: 1.4rem;
    font-size: 1.5rem;
    bottom: -27px;
    left: -210px;
    }

    /*--------------------------- Section-8 ------------------------*/

    .section_8{
        display: flex;
        padding-top: 14rem;
        justify-content: center;
        gap: 15rem;
        flex-wrap: wrap;
    }

    .numbering_1_section_8 p{
        font-size: 1.8rem;
    }

    .numbering_1_section_8 h1{
        font-size: 5.6rem;
        color: #232395;
    }

    .numbering_2_section_8 p{
        font-size: 2.2rem;

    }

    .numbering_2_section_8 h1{
        font-size: 6rem;
        color: #232395;
    }

    .numbering_3_section_8 p{
        font-size: 2rem;

    }

    .numbering_3_section_8 h1{
        font-size: 6rem;
        color: #232395;
    }

    .numbering_1_section_8, .numbering_2_section_8{
        border-right: 1px solid lightgray;
        padding-right: 9rem;
    }

    /*---------------Section-9-----------*/

    .main_footer{
        width: 100%;
        padding-top: 36rem;
        
        
    }


    .footer_options{
        display: flex;
        gap: 11.5rem;
        padding-left: 7rem;
        background-color: #f09f5412;
        flex-wrap: wrap;
        padding-top: 4.5rem;
    }

    .footer_options ul{
        list-style: none;
    }

    .footer_options ul li a{
        text-decoration: none;
        color: rgb(106, 104, 104);
        font-size: 1.5rem;  
    }

    .footer_options ul li{
        padding-bottom: 2rem;
    }

    .li_head a{
              font-size: 1.7rem !important;
              color: rgb(59, 59, 59) !important;
              font-weight: 600 !important;
    }

    .li_head{
        padding-bottom: 2rem;
    }

    .fa-twitter:before {
        content: "\f099";
        color: #f3a61c;
        font-size: 3.5rem;
    }

    .fa-linkedin-in:before {
        content: "\f0e1";
        color: #f3a61c;
        font-size: 3.5rem;
    }

    .li_icons{
        display: flex;
        gap: 1.6rem;
    }

    .paymentCard_main_div{
        display: flex;
        justify-content: center;
        gap: 63rem;
        padding-bottom: 1rem;
        background-color: #f09f5412;

    }

    .copyright_last_div{
        display: flex;
        justify-content: center;
        gap: 60rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 1rem;
        background-image: linear-gradient(90deg,#da2128,#ed6c30,#f05123);
    }

    .copyright_last_div p{
        color: white;
        font-size: 1.3rem;
    }


/*Hamburger__________menu________css*/

.image_cum_icon{
    width: 24px;
}

.main_sidebar_container{
    width: 80%;
    border: 1px solid rgb(225, 222, 222);
    border-radius: 26px;
    margin-right: 142px;
    margin-top: -16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    

}

.payment_solutions{
    display: flex;
    gap: 272px;
    flex-wrap: wrap;
}

.payment_solutions ul{
    list-style: none;
}

.payment_solutions ul li{
    padding-bottom: 25px;
}

.payment_solutions ul li a{
    text-decoration: none;
    color: rgb(53, 52, 52);
    font-size: 17px;
    
}

.Enterprise_solutions ul{
    display: flex;
    gap: 250px;
    list-style: none;
    flex-wrap: wrap;

}

.Enterprise_solutions ul li a{
    text-decoration: none;
    color: rgb(49, 48, 48);
}

.Enterprise_solutions img{
    width: 23px;
}

.last_solution ul{
    list-style: none;
}

.last_solution img{
    width: 23px;
}

.last_solution ul li{
    padding-bottom: 25px;
}

.last_solution ul li a{
    text-decoration: none;
    color: rgb(49, 48, 48);
    font-size: 17px;
}

.last_solution{
    display: flex;
    gap: 355px;
    padding-top: 10px; 
    border-bottom: 1px dotted lightgray;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.Enterprise_solutions{
    border-bottom: 4px dotted lightgray;
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;

    
}

.main_sidebar_container p{
    font-family: sans-serif;
    color: rgb(158, 154, 154);
    padding-left: 28px;
    
    font-size: 21px;
    padding-top: 15px;
}

.Enterprise_solutions p{
        font-size: 22px;
        font-family:"poppins" sans-serif !important;
        padding-left: 16px;
        padding-bottom: 10px;
        letter-spacing: 2px;
}

.label_cancel_btn{
    display: flex;
    justify-content: space-between;
}

.cancel_btn{
    padding-top: 15px;
    padding-right: 15px;
    font-size: 30px;
    color: rgb(188, 185, 185);
}

#hamburger{
    display: none;
}

.for_right_alignment{
    
   display: none;
}

#hamburger:checked ~ .for_right_alignment{
    display: flex;
    
    
}
.logo_plus_menu_btn{
display: flex;
justify-content: space-between;
padding-top: 17px;
padding-left: 79px;
padding-right: 106px;
}

.selector{
font-size: 40px;
padding-right: 21px;
padding-top: 11px;
color: #d0962b;
}

.for_center_the_content{
    padding-top: 4rem;
}

.section_2_written_content{
    gap: 3rem;
}

.using_flex_row_in_768px{
    flex-direction: column;
    display: flex;
    gap: 2rem;
}


/*------------------  Hover related code  -----------------*/
html {
    font-size: 62.5%;
}

body {
    font-family: poppins, sans-serif;
}

.display_flex {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.hover_div_1,
.hover_div_2,
.hover_div_3,
.hover_div_4 {
    font-size: 2rem;
}

/*Solutions_container*/

.upper_gray_heading ul {
    display: flex;
    color: rgb(120, 114, 114);
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    padding-left: 3rem;
}

.upper_gray_heading {
    padding-right: 2rem;
}

.upper_gray_heading ul li {
    font-size: 1.8rem;
    font-weight: bold;

}



/* .all_hover_div {
    position: relative;
} */

.upper_black_heading {
    padding-right: 4rem;
    padding-bottom: 4rem;
}

.upper_black_heading ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 1.4rem;
    padding-left: 3.5rem;

}

.upper_black_heading ul li {
    font-size: 1.6rem;
    font-weight: 600;
}



.solutions_container {
    top: 7rem;
    width: 80rem;

    position: absolute;
    left: 21rem;

    border: 1px solid lightgray;
    border-radius: 19px;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 0rem;
    background-color: white;
    box-shadow: 0px 0px 7px lightgray;
    display: none;

    /*Display none*/
}

.solutions_data ul {
    list-style: none;
    flex-direction: column;
    gap: 0.3rem;
    display: flex;
}

.solutions_data ul li {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    

}

.solutions_data {
    display: flex;
    justify-content: start;

    gap: 9rem;
}

.img_cum_icon_2 {
    width: 2rem;
}


/*Enterprises sections*/

.enterprise_section {
    width: 23rem;
    display: flex;
    flex-direction: column;
    gap: 3rem !important;
    top: 7rem;
    left: 62rem;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 7px lightgray;
    border-radius: 13px;
    position: absolute;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;

    background-color: white;
    padding-right: 0.1rem !important;
    display: none;

    /*Display: none*/
}

.partners {
    font-size: 2.3rem;
    padding-left: 2rem;
    font-weight: 600;
    
}

.partners_lists ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.partners_lists ul div {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: 600;

}

.enterprise_section_img {
    width: 2.3rem !important;
    /* padding-bottom: 1rem !important; */

}


.only_resources_img {
    display: flex;
    flex-direction: column;
    
    gap: 1.6rem;
}

.resources_img_one {
    width: 2.7rem;
}

.resources_text {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    gap: 2rem;
    padding-top: 0.2rem;
}

.resources_text span {
    font-size: 1.7rem;
    font-weight: 600;
}

.Resources_section {
    display: flex;
    gap: 1rem;
    top: 6.5rem;
    left: 70rem;

    border: 1px solid lightgray;
    box-shadow: 0px 0px 7px lightgray;
    padding: 2.4rem;
    border-radius: 15px;
    padding-right: 10rem;
    padding-left: 10rem;
    position: absolute;
    display: none;
    background-color: white;

}

.company_img_1 {
    width: 2.7rem;
}

.company_images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.company_text {
    display: flex;
    flex-direction: column;

    gap: 2.7rem;
    padding-top: 0.3rem;
}

.company_images_and_text {
    display: flex;
    gap: 1rem;
}

.company_images_2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.company_text_2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.company_section {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 3.5rem;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 7px lightgray;
    border-radius: 8px;
    position: absolute;
    display: none;
    background-color: white;
    top: 7rem;
    left: 80rem;
    width: 35rem;
    transition: all 3s ease-in;
    z-index: 2;

}

.company_images_and_text_2 {
    display: flex;
    gap: 1rem;
}


.company_text span {
    font-size: 1.8rem;
    font-weight: 600;
}

.company_text{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 1.5rem;
}

.company_text_2 span {
    font-size: 1.8rem;
    font-weight: 600;
}

.company_text_2 {
    gap: 3rem;
    padding-top: 1rem;
}

.display_flex{
    list-style: none;
}

 .li_1, .li_2, .li_3, .li_4{
    font-size: 2rem;
    padding-bottom: 3.5rem;

}



/*-----using hover for display none and display block-------*/

.solutions_container:hover{
    display: block;
}

.enterprise_section:hover{
    display: flex;
}

.Resources_section:hover{
    display: flex;
}

.company_section:hover{
    display: flex;
}



.display_flex .li_1:hover ~ .solutions_container{
    
    display: flex;
    flex-direction: column;

}

.display_flex .li_1:hover{
    color: gray;
}

.display_flex .li_2:hover ~ .enterprise_section{
    
    display: flex;

}

.display_flex .li_2:hover{
    color: gray;
}

.display_flex .li_3:hover ~ .Resources_section{
    
    display: flex;

}

.display_flex .li_3:hover{
    color: gray;

}

.display_flex .li_4:hover ~ .company_section{
    
    display: flex;
    
}



.display_flex .li_4:hover{
    color: gray;
    
}


.solutions_data ul li{
    cursor: pointer;

}

.partners_lists ul div{
    cursor: pointer;
}

.Resources_section{
    cursor: pointer;
}

.company_section{
    cursor: pointer;
}

.partners_lists ul div:hover{
    color: gray;

}

.solutions_data ul li:hover{
     color: gray;

}

.resources_text span:hover{
    color: gray;
}

.company_text span:hover{
    color: gray;
}

.company_text_2 span:hover{
    color: gray;
}

.company_img_1{
    padding-top: 1.5rem;
}

 .span_1{
    padding-top: 0rem !important;
}

/*------------  Hover related code  ----------------------*/


/*------------    Using__media__queries    -----------------*/

.logo_plus_menu_btn{

    display: none;
}

/*---------))))))))))))))))------------- Rotating_pantagonals --------------))))))))))))))))))))))))))--------*/

.rotating_pantagonals{
    position: relative;
}

.pantagonal_1{
    position: absolute;
    right: -207px;
    bottom: -505px;
    z-index: -3;
    animation: panta_1 60s linear infinite normal;
}

@keyframes panta_1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.pantagonal_2{
    position: absolute;
    right: 376px;
    top: 364px;
    z-index: -1;
    animation: panta_2 60s linear infinite normal;
}

@keyframes panta_2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.pantagonal_3{
    position: absolute;
    right: 120px;
    z-index: -2;
    width: 452px;
    top: 238px;
    animation: panta_3 60s linear infinite reverse;
}

@keyframes panta_3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.pantagonal_4{
    position: absolute;
    right: 222px;
    z-index: -4; 
    top: 84px;
    animation: panta_4 60s linear infinite reverse;

}

@keyframes panta_4{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}


.section_2_image{
    position: relative;
}

.section_2_girl_image{
    position: absolute;
    right: -66px;
    top: 76px;

}


.message_image_1{
    position: absolute;
    right: -45px;
    top: 119px;
    z-index: 10;

}

.message_image_2{
    position: absolute;
    right: -57px;
    top: 235px;
    z-index: 10;

}

.message_image_3{
    position: absolute;
    right: 194px;
    top: 123px;
    z-index: 1;

}

._Not_up_down_image_part{
    position: relative;
    z-index: -4;
}


.pocket_money_section{
    position: relative;
}

.pocket_1{
    position: absolute;
    bottom: 18px;
    left: 56px;
}

.pocket_2{
    position: absolute;
    bottom: 98px;
    left: 56px;
    z-index: -1;
}

.pocket_3{
    position: absolute;
    bottom: 93px;
    left: 72px;
    z-index: -2;
}

.pocket_4{
    position: absolute;
    bottom: 162px;
    left: 64px;
    z-index: -1;
}

.footer_options_plus_paymentCard_main_div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rotating_pantagonal_footer{
    position: relative;
}

.footer_imgage1{
    position: absolute;
    bottom: -447px;
    right: -66px;
    z-index: -1;
    opacity: .6;
    animation: foot_1 60s linear infinite normal;
}

@keyframes foot_1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.footer_imgage2{
    position: absolute;
    bottom: -454px;
    right: 309px;
    z-index: -1;
    animation: foot_2 60s linear infinite normal;
}

@keyframes foot_2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.footer_imgage3{
    position: absolute;
    bottom: -345px;
    right: 639px;
    z-index: -1;
    opacity: .7;
    animation: foot_3 60s linear infinite normal;
}

@keyframes foot_3 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 1024px){
    
    .pocket_money_section{
        display: none;
    }
    
    
    
    
    .section_2_div_main{
        padding-left: 31px;
    padding-right: 0px;
    gap: 55px;
    padding-bottom: 3.8rem;
    }

    .section_2_written_content h1{
        font-weight: 200;
    }

    .section_2_written_content h1{
        font-weight: bold;
        font-size: 41px;
        color: black;
    }

    .section_2_written_content{
        gap: 2rem;
    }

    .pref{
        font-size: 21px;
    font-weight: bold;
    }

    .section_3{
        padding-left: 20px;
        flex-wrap: wrap-reverse;
        gap: 0rem;
    }

    .written_text_1 p{
        font-size: 1.4rem;
    }

    .written_text_2 p{
        font-size: 1.5rem;
    }

    .using_animation{
        width: 15rem;
        z-index: -1;
    }
    .written_text_main_2{
        gap: .5rem;
    }

    .section_3_heading_1 h1{
        font-size: 3.6rem;
    }

    .section_3_img_main{
        gap: 0rem;
    }

    .spinner_images{
        display: none;
    }

    .paymentCard_main_div{
        gap: 26rem;
        flex-wrap: wrap;
    }

    .section_4{
        gap: 5.5rem;
    flex-wrap: wrap-reverse;
    padding-right: 1rem;
    }

    .section_4_written_text{
        gap: 2rem;
    }

    .paragraph_2{
        gap: 0rem;
    }

    .heading_1_payment p{
        font-size: 3.8rem;
        font-weight: bold;
        text-align: end;
    }

    .heading_2_Accept p{
        font-size: 3.3rem;
    font-weight: bold;
    }

    .paragraph_3{
        gap: 1rem;
    }

    .para_section_4 p{
        font-size: 1.7rem;
    }

    .para_2_section_4 p{
        font-size: 1.7rem;
    }

    .section_4_image_part img{
        width: 42.5rem;
    }

    .section_5{
        width: 100%;
        gap: 6rem;
    }

    .section_4_image_part img{
        width: 35rem;
    }

    .heading_1_payment p{
        font-size: 3.5rem;
    }

    .heading_2_Accept p{
        font-size: 3rem;
    }

    .section_5_paragraph_3{
        gap: 1rem;
    }

    .spinner_rotation_main_container{
        height: 36rem;
    padding-top: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    }

    .rotation_text_plus_spinner{
        justify-content: center;
    height: 30rem;
    }

    .rotation_text{
        align-items: center;
    }

    .one_at{
        text-align: center;
    }

    .small_text_spinner{
        text-align: center;
    }

    .section_8{
        gap: 5rem;
    }

    .main_footer{
        padding-top: 30rem;
    }

    .footer_options{
        gap: 5rem;
    }

    .copyright_last_div{
        gap: 21rem;
    }

    .display_grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(1, 1fr));
    }

    .solutions_container{
        left: 3rem;
    }

    .enterprise_section{
        left: 36rem;
    }

    .Resources_section{
        left: 43rem !important;
        top: 7rem !important;
    }

    .company_section{
        left: 54rem;
    }

    .using_flex_in_nav{
        gap: 7rem;
    }
}


@media only screen and (max-width: 768px){
    .logo_plus_menu_btn{

        display: block;
    }
    

    

    .using_flex_in_nav{
        display: none;
    }

    .logo_plus_menu_btn{
        padding-left: 4rem;
    padding-right: 1rem;
    }

    .logo_plus_menu_btn img{
        padding-bottom: 2rem;
    margin-left: -22px;
    }

    /* .selector{
        padding-right: 0rem;
        padding-left: 49rem;
    } */

    .main_sidebar_container{
        margin-right: 83px;
        width: 65rem;
        margin-top: 7rem;
        box-shadow: 0 0 15px rgba(0,0,0,.1607843137254);
    
    }

    .for_right_alignment{
        margin-top: -84px;
    margin-left: 40px;
    }

    



    

    .payment_solutions{
        gap: 10rem;
    }

    .Enterprise_solutions ul{
        gap: 10rem;
    }

    .last_solution{
        gap:18rem;
    }

    .section_2_div_main{
        padding-left: 4.5rem;
    }

    .section_2_written_content{
        gap: 1rem;
    }

    .section_2_written_content h1{
        font-size: 3.4rem;
    }

    .section_2_image{
        padding-top: 7.2rem;
    }

    .section_2_image img{
        width: 100%;
    }

    .Integrated_btn{
        padding-top: 5.5rem;
    }

    .section_4{
        gap: 1rem;
    }

    .section_5{
        gap: 2rem;
    }

    .last_section{
        padding-top: 0rem;
        gap: 2rem;
    }

    .spinner_rotation_main_container{
        margin-top: 1rem;
    }

    .numbering_1_section_8{
        padding-right: 1rem;
    }

    .numbering_2_section_8{
        padding-right: 1rem;
    }

    .numbering_3_section_8{
        padding-right: 1rem;
    }

    .numbering_1_section_8 h1{
        font-size: 4.7rem;
    }

    .numbering_1_section_8 p{
        font-size: 1.5rem;
    }

    .numbering_2_section_8 h1{
        font-size: 4.7rem;
    }

    .numbering_2_section_8 p{
        font-size: 1.5rem;
    }
    
    .numbering_3_section_8 h1{
        font-size: 4.7rem;
    }

    .numbering_3_section_8 p{
        font-size: 1.5rem;
    }

    .main_footer{
        padding-top: 25rem;
    }

    .footer_options{
        gap: 1rem;
    }

    .paymentCard_main_div{
        gap: 6rem;
    }

    .using_flex_row_in_768px{
        display: flex;
        gap: 7rem;
    }

    .written_text_main_2{
        gap: 2rem;
    }

}

@media only screen and (max-width: 426px){
    
   
    .main_sidebar_container{
        margin-top: 79px;
        margin-right: -263px;
        width: 65rem;
      

    }

    

    .label_cancel_btn p{
        font-size: 3.2rem;
    }

    .cancel_btn i{
        font-size: 4.5rem;
    }

    .payment_solutions ul li a{
        font-size: 3rem;
    }

    .Enterprise_solutions p{
        font-size: 3.6rem;
    }

    .Enterprise_solutions ul li a{
        font-size: 3rem;
    }

    .Enterprise_solutions img{
        width: 4rem;
    }

    .last_solution ul li a{
        font-size: 3rem;
    }

    .last_solution img{
        width: 4rem;
    }

    .image_cum_icon{
        width: 41px;
    }

    .payment_solutions{
        gap: 3rem;
    }

    .Enterprise_solutions ul{
        gap: 2rem;
    }

    .last_solution ul{
        gap: 5rem;
    }


    .section_2_div_main{
        justify-content: center;
        padding-left: 7px;
    }

    .section_2_written_content{
        align-items: center;
    }

    .section_2_written_content h1{
        text-align: center;
    font-size: 4.4rem;
    font-weight: bolder;
    }

    .section_2_written_content p{
        text-align: center;
    font-size: 2.5rem;

    }

    .section_2_btn{
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }

    .section_2_image{
        display: none;
    }

    .section_3_heading_1 h1{
        text-align: center;
    padding-top: 3rem;


    }

    .written_text_1 p{
        font-size: 2rem;
    }

    .written_text_2 p{
        font-size: 2rem;
    }
    
    .Integrated_btn button{
        width: 29rem;
    height: 5rem;
    font-size: 2.4rem;
    }

    .footer_options ul li a{
        font-size: 2rem;
    }

    .footer_options{
        gap: 7rem;
    }

    .li_head a{
        font-size: 3rem !important;
    }

    .paymentCard_main_div{
        flex-direction: column;
        align-items: baseline;
    }

    .paymentCard_main_div img{
        width: 17rem;
    }

    .paymentCard_main_div  img{

        width: 73rem; 

    }

    .copyright_last_div{
        gap: 1rem;
    }

    .copyright_last_div p{
        font-size: 1.8rem;
    }

    .internet_image{
        width: 17rem !important;
    }

    .last_solution{
        gap: 3rem;
    }

    .main_footer{
        padding-top: 54rem;
    }

    .numbering_2_section_8 p{
        font-size: 2.3rem;
    }

    .numbering_1_section_8 p{
        font-size: 2.3rem;
    }

    .numbering_3_section_8 p{
        font-size: 2.3rem;
    }

    .numbering_3_section_8 h1{
        text-align: center;
    }

    .numbering_1_section_8 h1{
        text-align: center;
        
    }

    .numbering_1_section_8{
        border: none;
        
    }

    .numbering_2_section_8{
        border: none;
        
    }

    .section_8{
        flex-direction: column;
       align-items: center;
    }

    .using_flex_row_in_768px{
        flex-direction: column;
    }

    .written_text_1 span{
        font-size: 2.5rem !important;
    }
    .written_text_2 span{
        font-size: 2.5rem !important;
    }

    .written_text_1 p{
        font-size: 2.1rem;
    }

    .written_text_2 p{
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 400px){
    .main_sidebar_container {
        margin-top: 71px;
        margin-right: -347px;
        
    }
}
